<app-navbar></app-navbar>
<div>
  <div>
    <button type="button" class="btn btn-success" (click)="addOperation()">Добавить</button>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div style="margin-bottom: 10px"><app-pie-chart></app-pie-chart></div>
      <div style="margin-bottom: 10px"><app-account-list></app-account-list></div>
      <div style="margin-bottom: 10px"><app-category-list></app-category-list></div>
      <div style="margin-bottom: 10px"><app-purpose-list></app-purpose-list></div>
    </div>
    <div class="col-md-6">
      <app-operation-list></app-operation-list>
    </div>
  </div>
</div>